<html>

<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="./imgs/favicon.png" />
    <link rel="stylesheet" type="text/css" href="./styles/index.css" />
    <link rel="stylesheet" type="text/css" href="./styles/menu.css" />
    <title>Z-url</title>
</head>

<body>
  <div class="logo"><img id="logo" src="/imgs/test-logo.png"/></div>
	{{#if user.username}}
    <h1 class="displayname" >{{user.username}}</h1>
  {{else if user.displayName}}
    <h1 class="displayname" >{{user.displayName}}</h1>
  {{/if}}
	<div id="table">
    <h3>Your zombie:</h3>
    <table>
      <tr>
        <th>Name</th>
        <td>{{zombie.name}}</td> 
      </tr>
      <tr>
        <th>HP</th>
        <td>{{zombie.health}}</td> 
      </tr>
      <tr>
        <th>Attack</th>
        <td>{{zombie.attack}}</td> 
      </tr>
      <tr>
        <th>Defense</th>
        <td>{{zombie.defense}}</td> 
      </tr>
      <tr>
        <th>Speed</th>
        <td>{{zombie.speed}}</td> 
      </tr>
      <tr>
        <th>Since</th>
        <td>{{zombie.since}}</td> 
      </tr>
    </table>
  </div>
	{{> menu}}
</body>

	{{> footer}}

</html>